@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #030E15;
  color:#fff;
  -webkit-font-smoothing:antialiased;
  scroll-behavior: smooth;
}

img{
  max-width: 100%;
  display: block;
  all:unset;
}

a{
  display: block;
  text-decoration: none;
}

li{
  list-style: none;
}